<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<h1>Game Finished</h1>
<h3>Computers Hand:</h3>
<img th:src="@{'images/' + ${game.getComputerChoice()} + '.png'}" alt="Computers Hand">
<h3>Your Hand:</h3>
<img th:src="@{'images/' + ${game.getUserChoice()} + '.png'}" alt="Your Hand">
<form th:action="@{/index}">
    <label> </label><br>
    <label> </label><br>
    <h2>Results: <span th:text="${game.getWinner()}"></span></h2>
    <button type="submit">Play Again</button>
</form>
</body>
</html>